<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="testsuite" verbose="1" preserve-order="true" parallel="methods" thread-count="3">
	<test name="testname">
		<classes>
			<class name="com.supplycopia.template.test.APIUserAccessCheck">
				<!-- <methods>							
					<include name="UserLoginTest"></include>
				</methods> -->
			</class>	
		</classes>
	</test>
	<listeners>	
		<!-- <listener class-name="com.supplycopia.listeners.AutoTestListener"></listener>
		<listener class-name="com.supplycopia.listeners.RetryListener"></listener>
		 -->
		 <listener class-name="com.supplycopia.report.ExtentReportListener"></listener>
	</listeners>
</suite> 